:root {
  --grid-size: 450px;
  --margin-size: 10px;
  --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  text-align: center;
}

#game-grid {
  background-color: rgba(0, 0, 0, 0.5);
  height: var(--grid-size);
  width: var(--grid-size);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

#game-grid div {
  background-color: #fff;
  height: var(--square-size);
  width: var(--square-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-grid img {
  width: 80%;
}
.reset-button {
  display: none;
}

.game-over .reset-button {
  display: inline-block;
}

@media all and (max-width: 500px) {
  #game-grid {
    width: 100%;
    max-width: 500px;
  }
  
  #game-grid div {
    height: calc(90% / 3);
    width: calc(90% / 3);
  }
}
